﻿@model Compranator.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarritoPedido.CarritoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarritoPedido.CarritoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.correo_postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.correo_postal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modo_Pago.nombre_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modo_Pago.nombre_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iva)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarritoPedidoFK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
