﻿@model Compranator.Models.Pedido

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pedido</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CarritoPedidoFK)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total)
                @Html.ValidationMessageFor(model => model.total)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modo_PagoFK, "Modo_PagoFK", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Modo_PagoFK", String.Empty)
                @Html.ValidationMessageFor(model => model.Modo_PagoFK)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_pedido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_pedido)
                @Html.ValidationMessageFor(model => model.fecha_pedido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.iva, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.iva)
                @Html.ValidationMessageFor(model => model.iva)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.UserName, "ClienteFK", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteFK", String.Empty)
                @Html.ValidationMessageFor(model => model.Cliente.UserName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
