﻿@model IEnumerable<Compranator.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarritoPedido.CarritoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.correo_postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modo_Pago.nombre_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_pedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iva)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarritoPedido.CarritoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.correo_postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modo_Pago.nombre_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_pedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iva)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarritoPedidoFK }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarritoPedidoFK }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarritoPedidoFK })
        </td>
    </tr>
}

</table>
