﻿@model Compranator.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.talla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.talla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_talla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_talla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sistemaDeTallas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sistemaDeTallas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_image)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
