﻿@model Compranator.Models.Producto

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles del producto</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.talla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.talla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_talla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_talla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sistemaDeTallas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sistemaDeTallas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.url_image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.url_image)
            </dd>
        *@
    </dl>
</div>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>}


<h2>@Model.modelo</h2>
<p>
    <img alt="@Model.modelo"
         src="@Url.Content("~/Content/images/")@Model.url_image" />
</p>
<div id="producto-details">
    <p>
        <em>Titulo:</em>
        @Model.Categoria
    </p>
    <p>
        <em>Modelo:</em>
        @Model.modelo
    </p>
    <p>
        <em>Precio:</em>
        @String.Format("{0:F}", Model.precio)
    </p>
    <p class="button">
        <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = @Model.ID })" class="btn btn-info btn-xs" role="button">
            <i class="glyphicon glyphicon-shopping-cart"></i> Agregar
        </a>
    </p>
</div>