﻿@model Compranator.Models.Producto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Producto</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.modelo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modelo)
                @Html.ValidationMessageFor(model => model.modelo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.color, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.color)
                @Html.ValidationMessageFor(model => model.color)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.talla, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.talla)
                @Html.ValidationMessageFor(model => model.talla)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo_talla, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipo_talla)
                @Html.ValidationMessageFor(model => model.tipo_talla)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sistemaDeTallas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sistemaDeTallas)
                @Html.ValidationMessageFor(model => model.sistemaDeTallas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.edades, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.edades)
                @Html.ValidationMessageFor(model => model.edades)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.genero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.genero)
                @Html.ValidationMessageFor(model => model.genero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.marca, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.marca)
                @Html.ValidationMessageFor(model => model.marca)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stock)
                @Html.ValidationMessageFor(model => model.stock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio)
                @Html.ValidationMessageFor(model => model.precio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion)
                @Html.ValidationMessageFor(model => model.descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url_image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.url_image)
                @Html.ValidationMessageFor(model => model.url_image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoriaFK, "CategoriaFK", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoriaFK", String.Empty)
                @Html.ValidationMessageFor(model => model.CategoriaFK)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
