﻿@model IEnumerable<Compranator.Models.Producto>

@{
    ViewBag.Title = "Producto";
}

<h2>Productos</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary text-center">

            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Lo más deseado</div>
                    <div class="panel-body">
                        <div class="row">
                            @foreach (var item in Model)
                            {

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail pad-0">
                                        <a href="@Url.Content("~/Producto/Details/" + item.ID)">
                                            <img alt="@item.modelo"
                                                 src="@Url.Content("~/Content/images/")@item.url_image" class="img-responsive" style="width:150px;height:150px;" />
                                        </a>

                                        <div class="caption">
                                            <h4>@item.modelo</h4>
                                            <p>@item.descripcion</p>

                                            <h5>@String.Format("{0:F}", @item.precio) €</h5>
                                            <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.ID })" class="btn btn-info btn-xs" role="button">
                                                <i class="glyphicon glyphicon-shopping-cart"></i> Agregar
                                            </a>
                                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                            {
                                                <a href="@Url.Action("Edit", "Producto", new { id = item.ID })" class="btn btn-default btn-xs pull-right"
                                                   role="button"><i class="glyphicon glyphicon-edit"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
