﻿@{
    ViewBag.Title = "Acerca";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>No es más que una tienda de ropa para un proyecto de sintesis del ciclo superior DAW.</p>
    </div>
</div>