﻿@{
    ViewBag.Title = "Contacto";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Página de contacto de prueba<br />
        Oficinas compranator Bla bla bla<br />
        <abbr title="Phone">Tel:</abbr>
        666 666 666 |m|
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@compranator.net">Support@compranator.net</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Compranatorg@compranator.net">Compranatorg@compranator.net</a>
    </address>
</div>