﻿@model IEnumerable<Compranator.Models.Producto>
@{
    ViewBag.Title = "Compranator";
}
<br />
<br />

@*<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
                <li><a href="@Url.Action("Index", "Producto")"><i class="glyphicon glyphicon-tasks"></i> Productos</a></li>
                <li><a href="@Url.Action("Index", "Categoria")"><i class="glyphicon glyphicon-briefcase"></i> Categorias</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->*@

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary text-center">

            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Lo más deseado</div>
                    <div class="panel-body">

                        <div class="row">
                            @foreach (var item in Model)
                            {

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail pad-0">
                                        <a href="@Url.Content("~/Producto/Details/" + item.ID)">
                                        <img alt="@item.modelo"
                                        src="@Url.Content("~/Content/images/")@item.url_image" class="img-responsive" style="width:150px;height:150px;" />
                                        </a>
                                        <div class="caption">
                                            <h4>@item.modelo</h4>
                                            <p>@item.descripcion</p>

                                            <h5>@String.Format("{0:F}", @item.precio) €</h5>
                                            <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.ID })" class="btn btn-info btn-xs" role="button">
                                                <i class="glyphicon glyphicon-shopping-cart"></i> Agregar
                                            </a>
                                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                            {
                                                <a href="@Url.Action("Edit", "Producto", new { id = item.ID })" class="btn btn-default btn-xs pull-right"
                                                   role="button"><i class="glyphicon glyphicon-edit"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
