﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Que nos lo quitan de las manos</title>
    @*@Styles.Render("~/Content/css")
    @Styles.Render("~/Content/csspropio")*@
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/site.css" rel="stylesheet" />
    <link href="/Content/css/simple-sidebar.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Compranator", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")"><i class="glyphicon glyphicon-home"></i> Inicio</a></li>
                    <li><a href="@Url.Action("Index", "Producto")"><i class="glyphicon glyphicon-tasks"></i> Productos</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Compranator</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $("#user-connected")
                .prepend("<i class='glyphicon glyphicon-user'></i> ")
                .append("<span class='caret'></span>");

            $("#user-close")
                .prepend("<i class='glyphicon glyphicon-log-out'></i> ");

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>

</body>
</html>
