﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @**<li><a href="@Url.Action("Index", "Home")"><span>Text</span></a></li>*@
            <li><a href="@Url.Action("Index", "ShoppingCart")"><i class="glyphicon glyphicon-shopping-cart"></i> Carrito</a></li>
            <li class="dropdown">
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "",
                        routeValues: null, htmlAttributes: new Dictionary<string, object>
                        {
                            { "id", "user-connected" },
                            { "class", "dropdown-toggle" },
                            { "data-toggle", "dropdown" },
                            { "aria-expanded", "true" },
                        })

                <ul class="dropdown-menu">

                    <li class="divider"></li>
                    <li class="dropdown-header"><i class="glyphicon glyphicon-cog"></i> Ver tu perfil</li>
                    <li class="divider"></li>

                    <li>
                        @Html.ActionLink("Mi cuenta", "Index", "Manage", routeValues: null, htmlAttributes: new
                        {
                            title = "Administrar cuenta"
                        })
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="divider"></li>
                        <li class="dropdown-header"><i class="glyphicon glyphicon-lock"></i> Administrar</li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Index", "Categoria")"><i class="glyphicon glyphicon-briefcase"></i> Categorias</a></li>
                        <li>
                            @Html.ActionLink("Roles", "Index", "RolesAdmin", routeValues: null, htmlAttributes: new
                            {
                                title = "Administrar roles"
                            })
                        </li>
                        <li>
                            @Html.ActionLink("Usuarios", "Index", "UsersAdmin", routeValues: null, htmlAttributes: new
                            {
                                title = "Administrar usuarios"
                            })
                        </li>
                    }

                    <li class="divider"></li>
                    <li>
                        @Html.ActionLink("Salir", "", "", routeValues: null, htmlAttributes: new Dictionary<string, object>
                        {
                            { "id", "user-close" },
                            { "title", "Cerrar sesión" },
                            { "href", "javascript:document.getElementById('logoutForm').submit()" },
                        })
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Index", "ShoppingCart")"><i class="glyphicon glyphicon-shopping-cart"></i> Carrito</a></li>
        <li><a href="@Url.Action("Register", "Account")"><i class="glyphicon glyphicon-pencil"></i> Register</a></li>
        <li><a href="@Url.Action("Login", "Account")"><i class="glyphicon glyphicon-log-in"></i> Log in</a></li>
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
