﻿@model Compranator.Models.Categoria
 
@{
    ViewBag.Title = "Productos";
}
 
<div class="genre">
    <h3><em>@Model.titulo</em></h3>
 
    <ul id="album-list">
        @foreach (var producto in Model.Productos)
        {
            <li>
                <a href="@Url.Action("Details", new { id = producto.ID })">
                    <img alt="@producto.modelo" src="@producto.url_image" />
                    <span>@producto.modelo</span>
                </a>
            </li>
        }
    </ul>
</div>
