﻿@model Compranator.Models.Producto

@{
    ViewBag.Title = "Producto - " + Model.modelo;
}

<h2>@Model.modelo</h2>

<p>
    <img alt="@Model.modelo" src="@Model.url_image" />
</p>

<div id="album-details">
    <p>
        <em>Género:</em>
        @Model.genero
    </p>
    <p>
        <em>Precio:</em>
        @String.Format("{0:F}", Model.precio)
    </p>
    <p>
        <em>Descripcion:</em>
        @Model.descripcion
    </p>
    <p class="button">
        @Html.ActionLink("Agregar al carrito", "AddToCart", 
        "ShoppingCart", new { id = Model.ID }, "")
    </p>
</div>
