﻿@model IEnumerable<Compranator.Models.Categoria>

<ul id="categories">
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.titulo, 
                "Browse", "Store", 
                new { Genre = genre.titulo }, null)
        </li>
    }
</ul>