﻿@model IEnumerable<Compranator.Models.Categoria>
@{
    ViewBag.Title = "Tienda";
}
<h3>Por género</h3>

<p>
    Selecciona de @Model.Count() género:
</p>
<ul>
    @foreach (var genero in Model)
    {
        <li>
            @Html.ActionLink(genero.titulo, "Browse",
        new
        {
            genre = genero.titulo
        })
    </li>
    }
</ul>
