﻿@model Compranator.Models.Pedido

@{
    ViewBag.Title = "Pago";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm())
{

    <h2>Address And Payment</h2>
    <fieldset>
        <legend>Información de compra</legend>

        @Html.DisplayNameFor(model => model.total)
        @Html.DisplayFor(model => model.total)

        @Html.DisplayNameFor(model => model.fecha_pedido)
        @Model.fecha_pedido.ToString("yyyy MM dd")

        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>Escribe el código de promoción: "FREE"</p>

        <div class="editor-label">
            @Html.Label("Código promoción")
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    <input type="submit" value="Submit Order" />
}
@*<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

    <!-- Identify your business so that you can collect the payments. -->
    <input type="hidden" name="business" value="admin@compranator.com">

    <!-- Specify a Buy Now button. -->
    <input type="hidden" name="cmd" value="_xclick">

    <!-- Specify details about the item that buyers will purchase. -->
    <input type="hidden" name="item_name" value="Hot Sauce-12oz Bottle">
    <input type="hidden" name="amount" value="5.95">
    <input type="hidden" name="currency_code" value="USD">

    <!-- Display the payment button. -->
    <input type="image" name="submit" border="0"
           src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
           alt="PayPal - The safer, easier way to pay online">
    <img alt="" border="0" width="1" height="1"
         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

</form>*@