﻿@model int

@{
    ViewBag.Title = "Compra efectuada";
}

<h2>Compra efectuada</h2>

<p>Gracias por tu compra! Su número de orden es: @Model</p>

<p>How about shopping for some more music in our 
    @Html.ActionLink("Inicio", "Index", "Home")
</p>
