﻿@model Compranator.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Carrito de la compra";
}

<script type="text/javascript">
    $(function () {
        // Captura el clic de la rata, si existe la clase .RemoveLink
        $(".RemoveLink").click(function () {
            // Coge el producto a través del id
            var productoABorrar = $(this).attr("data-id");
            if (productoABorrar != '') {
                // Realiza el post vía ajax
                $.post("/ShoppingCart/RemoveFromCart", { "id": productoABorrar },
                    function (data) {
                        // Si todo va bien entra aquí y 
                        // Actualiza los productos del carrito
                        if (data.ItemCount == 0) {
                            $('#row-' + data.borrarId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.borrarId).text(data.productoCount);
                        }
                        $('#cart-total').text(data.total);
                        $('#update-message').text(data.mensaje);
                        $('#cart-status').text('Cart (' + data.cartCount + ')');
                    });
            }
        });
    });
</script>

<h3>
    <em>Productos</em> en carrito:
</h3>
<p class="button">
    @Html.ActionLink("Checkout >> ", "AddressAndPayment", "Checkout",
    routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
</p>

<span class="label label-warning" id="update-message"></span>

@{
    if (Model.ProductosEnCarrito.Count > 0)
    {
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Producto</th>
                    <th></th>
                    <th>Precio (unidad)</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @{int num = 1;}
                @foreach (var item in Model.ProductosEnCarrito)
                {
                    if (num != 0) { 
                    <tr id="row-@item.ID">
                        <td>@num</td>
                        <td><img src="@Url.Content("~/Content/images/")@item.ProductoCarrito.url_image" alt="@item.ProductoCarrito.modelo" width="100" /></td>
                        <td>
                            @Html.ActionLink(item.ProductoCarrito.modelo, "Details", "Producto",
                        new
                        {
                            id = item.ProductoCarritoFK
                        }, null)
                        </td>
                        <td>
                            @item.ProductoCarrito.precio
                        </td>
                        <td id="item-count-@item.ID">
                            @item.cantidad
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-xs RemoveLink"
                               data-id="@item.ID">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    }
                    num++;
                }
            </tbody>
            <tfoot>
                <tr class="info">
                    <td><strong>Total</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="cart-total"><strong>@Model.total</strong></td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <div>
            <p>
                No hay productos en el carrito actualmente, por favor comprame algo ;)
            </p>
        </div>
    }
}